<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

  <body
    style="
      height: 100vh;
      width: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: poppins;
    "
  >
    <div
      style="
        width: 500px;
        height: 500px;
      border-radius: 5px;
        background-color: white;
        /* border-radius: 10px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
    >
      <div
        style="
        width: 500px;
        height: 200px;
        

          color: black;
          font-size: 50px;
          text-align: center;
            display: flex;
        justify-content: center;
        align-items: center;
          font-weight: 600;
        "
      >
    
      <p style="text-align: center; font-size: 70px;">TypeScript Test</p>
        
      </div>

      <p style="color: black; margin-top: 20px; font-weight: 600; font-size: 30px">Verify your email address</p>

      <!-- <p style="color: black;font-weight: 600; margin-top: 20px; font-size: 26px">hi,</p> -->
      <p style="color: black; font-weight: 600; margin-bottom: 50px;font-size: 16px;font-weight: 500; text-align: center">
        you are almost ready to get started, please click on the </br>button
        below to verify your email address  </br>
      </p>

      <div
        style="
          width: 400px;
          margin-bottom: 30px;
          height: 40px;
          font-size: 15px;
          font-weight: 600;
          background-color: red;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          /* flex-direction: column; */
        "
      >
       <a href="https://localhost:2045/auth/${user}/${token}" > Verify your account</a>
      </div>

      <!-- <div>
        copy the link below
      </div>
      <p>https://localhost:2045/auth/{myID}/{myToken}</p> -->
    </div>
  </body>
</html>